## Import Library

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# Data Split
from sklearn.model_selection import train_test_split #testing dan training data

# Data Transforming
from sklearn.preprocessing import StandardScaler #standarisasi
from sklearn.preprocessing import MinMaxScaler #normalisasi

# Data Cleaning
from sklearn.impute import SimpleImputer #subtitusi nilai

# Data Encoding
from sklearn.preprocessing import OrdinalEncoder #encoder
from sklearn.preprocessing import OneHotEncoder #onehot

## Read file dataset DF1

In [2]:
df1 = pd.read_csv('IKEA.csv')
df1.head()

,Unnamed: 0,item_id,name,category,price,old_price,sellable_online,link,other_colors,short_description,designer,depth,height,width
0,0,90420332,FREKVENS,Bar furniture,265.0,No old price,True,https://www.ikea.com/sa/en/p/frekvens-bar-tabl...,No,"Bar table, in/outdoor, 51x51 cm",Nicholai Wiig Hansen,NaN,99.0,51.0
1,1,368814,NORDVIKEN,Bar furniture,995.0,No old price,False,https://www.ikea.com/sa/en/p/nordviken-bar-tab...,No,"Bar table, 140x80 cm",Francis Cayouette,NaN,105.0,80.0
2,2,9333523,NORDVIKEN / NORDVIKEN,Bar furniture,2095.0,No old price,False,https://www.ikea.com/sa/en/p/nordviken-nordvik...,No,Bar table and 4 bar stools,Francis Cayouette,NaN,NaN,NaN
3,3,80155205,STIG,Bar furniture,69.0,No old price,True,https://www.ikea.com/sa/en/p/stig-bar-stool-wi...,Yes,"Bar stool with backrest, 74 cm",Henrik Preutz,50.0,100.0,60.0
4,4,30180504,NORBERG,Bar furniture,225.0,No old price,True,https://www.ikea.com/sa/en/p/norberg-wall-moun...,No,"Wall-mounted drop-leaf table, ...",Marcus Arvonen,60.0,43.0,74.0

## Info From Attribute DF1

In [3]:
df1.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3694 entries, 0 to 3693
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         3694 non-null   int64
 1   item_id            3694 non-null   int64
 2   name               3694 non-null   object
 3   category           3694 non-null   object
 4   price              3694 non-null   float64
 5   old_price          3694 non-null   object
 6   sellable_online    3694 non-null   bool
 7   link               3694 non-null   object
 8   other_colors       3694 non-null   object
 9   short_description  3694 non-null   object
 10  designer           3694 non-null   object
 11  depth              2231 non-null   float64
 12  height             2706 non-null   float64
 13  width              3105 non-null   float64
dtypes: bool(1), float64(4), int64(2), object(7)
memory usage: 378.9+ KB

## NILAI NULL DF1

In [4]:
df1.isna().sum()

Unnamed: 0              0
item_id                 0
name                    0
category                0
price                   0
old_price               0
sellable_online         0
link                    0
other_colors            0
short_description       0
designer                0
depth                1463
height                988
width                 589
dtype: int64

## ROW DF 1

In [5]:
print(f'panjang df1 {len(df1)} baris')

panjang df1 3694 baris

## Read file dataset DF2

In [38]:
df2 = pd.read_csv('home.csv')
df2.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,101.03,101.11
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.40,101.08
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.79,101.10
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.44,101.50

## Info from attribute DF2

In [7]:
df2.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99325 entries, 0 to 99324
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hpi_type    99325 non-null  object
 1   hpi_flavor  99325 non-null  object
 2   frequency   99325 non-null  object
 3   level       99325 non-null  object
 4   place_name  99325 non-null  object
 5   place_id    99325 non-null  object
 6   yr          99325 non-null  int64
 7   period      99325 non-null  int64
 8   index_nsa   99323 non-null  float64
 9   index_sa    32134 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 7.6+ MB

In [8]:
df2.isna().sum()

hpi_type          0
hpi_flavor        0
frequency         0
level             0
place_name        0
place_id          0
yr                0
period            0
index_nsa         2
index_sa      67191
dtype: int64

In [9]:
print(f'panjang df2{len(df2)} baris')

panjang df299325 baris

## Read File Dataset df3

In [10]:
df3 = pd.read_csv('film.csv')
df3.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## see info from atribute df3

In [11]:
df3.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

## NIlai NULL df3

In [12]:
df3.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [13]:
print(f'panjang df3 {len(df3)} baris')

panjang df3 8807 baris

## Data Split

In [15]:
data = df3 [['release_year']]
label = df3 ['director']

data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=.3)

In [16]:
print(f'panjang data training {len(data_train)}',
     f'panjang label training {len(label_train)}',
     f'panjang data testing {len(data_test)}',
     f'panjang label testing {len(label_test)}',
     sep='\n') ## panjang data yang sudah di split beserta masing-masing labelnya

panjang data training 6164
panjang label training 6164
panjang data testing 2643
panjang label testing 2643

## Data transformasi

## Normalisasi 
Normalisasi adalah proses penskalaan data menjadi rentang [0, 1].

In [17]:
df1_normalisasi = df1.copy() ## copy dataset

In [19]:
scaler = MinMaxScaler() #deklarasi minmax scaler

dt_normalisasi = scaler.fit_transform(df1_normalisasi[['item_id','height','depth']]) # untuk scaling 

dt_normalisasi = pd.DataFrame(dt_normalisasi) #isi dt_normalisasi jadi dataframe
dt_normalisasi.rename(columns={0:'Cured', 1:'Deaths', 2:'Confirmed'}, inplace=True) # ganti nama atribut

dt_normalisasi.head(5)

      Cured    Deaths  Confirmed
0  0.904757  0.140200        NaN
1  0.003107  0.148784        NaN
2  0.092867       NaN        NaN
3  0.801977  0.141631   0.191406
4  0.301600  0.060086   0.230469

## STANDARISASI

In [29]:
# duplicate dataset
df_standarirasi = df1.copy()
df_comparison = df1.copy()

# remove attribute type object
df_standarirasi.drop('name', axis=1, inplace=True)
df_standarirasi.drop('category', axis=1, inplace=True)
df_standarirasi.drop('link', axis=1, inplace=True)
df_standarirasi.drop('other_colors', axis=1, inplace=True)
df_standarirasi.drop('short_description', axis=1, inplace=True)
df_standarirasi.drop('designer', axis=1, inplace=True)
df_standarirasi.drop('sellable_online', axis=1, inplace=True)
df_standarirasi.drop('old_price', axis=1, inplace=True)
#standarisasi
standart_std = StandardScaler()
scaled_data = standart_std.fit_transform(df_standarirasi)

#menghapus atribut bertipe object dataset pembanding
df_comparison.drop('name', axis=1, inplace=True)
df_comparison.drop('category', axis=1, inplace=True)
df_comparison.drop('link', axis=1, inplace=True)
df_comparison.drop('other_colors', axis=1, inplace=True)
df_comparison.drop('short_description', axis=1, inplace=True)
df_comparison.drop('designer', axis=1, inplace=True)
df_comparison.drop('sellable_online', axis=1, inplace=True)
df_comparison.drop('old_price', axis=1, inplace=True)

print('Dataset sebelum scalling:',  # SEBELUM
      df_comparison.head(6),
      f'Nilai standar deviasi:\n{np.std(df_comparison)}',
      sep='\n', end='\n\n')

print('Dataset setelah scalling:',  # SESUDAH
      scaled_data[:6],
      f'Nilai standar deviasi: {np.std(scaled_data)}',
      sep='\n')

Dataset sebelum scalling:
   Unnamed: 0   item_id   price  depth  height  width
0           0  90420332   265.0    NaN    99.0   51.0
1           1    368814   995.0    NaN   105.0   80.0
2           2   9333523  2095.0    NaN     NaN    NaN
3           3  80155205    69.0   50.0   100.0   60.0
4           4  30180504   225.0   60.0    43.0   74.0
5           5  10122647   345.0   45.0    91.0   40.0
Nilai standar deviasi:
Unnamed: 0    1.066366e+03
item_id       2.888318e+07
price         1.374466e+03
depth         2.995164e+01
height        6.108629e+01
width         7.112232e+01
dtype: float64

Dataset setelah scalling:
[[-1.73158199  1.44679117 -0.5916539          nan -0.04387188 -0.75181542]
 [-1.73064422 -1.67099247 -0.06053871         nan  0.05434983 -0.34406716]
 [-1.72970646 -1.36061433  0.73977186         nan         nan         nan]
 [-1.7287687   1.09138966 -0.7342547  -0.14620911 -0.02750159 -0.62527286]
 [-1.72783093 -0.63884553 -0.62075611  0.18766247 -0.96060779 -0.42842887]
 [-1.72689317 -1.3332931  -0.5334495  -0.3131449  -0.17483415 -0.90647855]]
Nilai standar deviasi: nan

 ## DATA Cleanig

In [31]:
mean = SimpleImputer(strategy='mean')
median = SimpleImputer(strategy='median')
modus = SimpleImputer(strategy='most_frequent')

In [32]:
df_clean = df1.copy()

df_clean ['depth'] = median.fit_transform(df1[['depth']])
df_clean ['height'] = median.fit_transform(df1[['height']])
df_clean ['width'] = median.fit_transform(df1[['width']])

df_clean.isna().sum()

Unnamed: 0           0
item_id              0
name                 0
category             0
price                0
old_price            0
sellable_online      0
link                 0
other_colors         0
short_description    0
designer             0
depth                0
height               0
width                0
dtype: int64

In [39]:
df2.duplicated().sum()

4

## remove duplicate

In [48]:
df_clean.drop_duplicates(inplace=True)

df_clean.duplicated().sum()

0

## Encoding

In [49]:
df_ordinal = df3.copy()
df_one_hot = df3.copy()

In [53]:
df3['country'].unique()

array(['United States', 'South Africa', nan, 'India',
       'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia',
       'United Kingdom', 'Germany, Czech Republic', 'Mexico', 'Turkey',
       'Australia', 'United States, India, France', 'Finland',
       'China, Canada, United States',
       'South Africa, United States, Japan', 'Nigeria', 'Japan',
       'Spain, United States', 'France', 'Belgium',
       'United Kingdom, United States', 'United States, United Kingdom',
       'France, United States', 'South Korea', 'Spain',
       'United States, Singapore', 'United Kingdom, Australia, France',
       'United Kingdom, Australia, France, United States',
       'United States, Canada', 'Germany, United States',
       'South Africa, United States', 'United States, Mexico',
       'United States, Italy, France, Japan',
       'United States, Italy, Romania, United Kingdom',
       'Australia, United States', 'Argentina, Venezuela',
       'United States, United Kingdom, Canada', 'China, Hong Kong',
       'Russia', 'Canada', 'Hong Kong', 'United States, China, Hong Kong',
       'Italy, United States', 'United States, Germany',
       'United Kingdom, Canada, United States', ', South Korea',
       'Ireland', 'India, Nepal',
       'New Zealand, Australia, France, United States', 'Italy',
       'Italy, Brazil, Greece', 'Argentina', 'Jordan', 'Colombia',
       'United States, Japan', 'Belgium, United Kingdom',
       'Switzerland, United Kingdom, Australia', 'Israel, United States',
       'Canada, United States', 'Brazil', 'Argentina, Spain', 'Taiwan',
       'United States, Nigeria', 'Bulgaria, United States',
       'Spain, United Kingdom, United States', 'United States, China',
       'United States, France',
       'Spain, France, United Kingdom, United States',
       ', France, Algeria', 'Poland', 'Germany',
       'France, Israel, Germany, United States, United Kingdom',
       'New Zealand', 'Saudi Arabia', 'Thailand', 'Indonesia',
       'Egypt, Denmark, Germany', 'United States, Switzerland',
       'Hong Kong, Canada, United States', 'Kuwait, United States',
       'France, Canada, United States, Spain',
       'France, Netherlands, Singapore', 'France, Belgium',
       'Ireland, United States, United Kingdom', 'Egypt', 'Malaysia',
       'Israel', 'Australia, New Zealand', 'United Kingdom, Germany',
       'Belgium, Netherlands', 'South Korea, Czech Republic',
       'Australia, Germany', 'Vietnam', 'United Kingdom, Belgium',
       'United Kingdom, Australia, United States',
       'France, Japan, United States',
       'United Kingdom, Germany, Spain, United States',
       'United Kingdom, United States, France, Italy',
       'United States, Germany, Canada',
       'United States, France, Italy, United Kingdom',
       'United States, United Kingdom, Germany, Hungary',
       'United States, New Zealand', 'Sweden', 'China', 'Lebanon',
       'Romania', 'Finland, Germany', 'Lebanon, Syria', 'Philippines',
       'Iceland', 'Denmark', 'United States, India',
       'Philippines, Singapore, Indonesia',
       'China, United States, Canada', 'Lebanon, United Arab Emirates',
       'Canada, United States, Denmark', 'United Arab Emirates',
       'Mexico, France, Colombia', 'Netherlands',
       'Germany, United States, France', 'United States, Bulgaria',
       'United Kingdom, France, Germany, United States',
       'Norway, Denmark', 'Syria, France, Lebanon, Qatar',
       'United States, Czech Republic', 'Mauritius',
       'Canada, South Africa', 'Austria', 'Mexico, Brazil',
       'Germany, France', 'Mexico, United States',
       'United Kingdom, France, Spain, United States',
       'United States, Australia',
       'United States, United Kingdom, France', 'United States, Russia',
       'United States, United Kingdom, New Zealand',
       'Australia, United Kingdom', 'Canada, Nigeria, United States',
       'France, United States, United Kingdom, Canada',
       'France, United Kingdom', 'India, United Kingdom',
       'Canada, United States, Mexico',
       'United Kingdom, Germany, United States',
       'Czech Republic, United Kingdom, United States',
       'China, United Kingdom', 'Italy, United Kingdom', 'China, Taiwan',
       'United States, Brazil, Japan, Spain, India',
       'United States, China, United Kingdom', 'Cameroon',
       'Lebanon, Palestine, Denmark, Qatar', 'Japan, United States',
       'Uruguay, Germany', 'Egypt, Saudi Arabia',
       'United Kingdom, France, Poland, Germany, United States',
       'Ireland, Switzerland, United Kingdom, France, United States',
       'United Kingdom, South Africa, France',
       'Ireland, United Kingdom, France, Germany',
       'Russia, United States', 'United Kingdom, United States, France',
       'United Kingdom,', 'United States, India, United Kingdom', 'Kenya',
       'Spain, Argentina', 'India, United Kingdom, France, Qatar',
       'Belgium, France', 'Argentina, Chile', 'United States, Thailand',
       'Chile, Brazil', 'United States, Colombia',
       'Canada, United States, United Kingdom', 'Uruguay', 'Luxembourg',
       'United States, Cambodia, Romania', 'Bangladesh',
       'Spain, Belgium, United States',
       'United Kingdom, United States, Australia',
       'Canada, United States, France', 'Portugal, United States',
       'Portugal, Spain', 'India, United States',
       'United Kingdom, Ireland', 'United Kingdom, Spain, United States',
       'Hungary, United States', 'United States, South Korea',
       'Canada, United States, Cayman Islands', 'India, France',
       'France, Canada', 'Canada, Hungary, United States', 'Norway',
       'Canada, United Kingdom, United States',
       'United Kingdom, Germany, France, United States',
       'Denmark, United States', 'Senegal', 'France, Algeria',
       'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland',
       'Philippines, Canada, United Kingdom, United States',
       'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong',
       'Singapore', 'Kuwait', 'United States, France, Serbia',
       'United States, Italy', 'Spain, Italy',
       'United States, Ireland, United Kingdom, India',
       'United Kingdom, Singapore', 'Hong Kong, United States',
       'United States, Malta, France, United Kingdom',
       'United States, China, Canada', 'Canada, United States, Ireland',
       'Lebanon, Canada, France', 'Japan, Canada, United States',
       'Spain, France, Canada',
       'Denmark, Singapore, Canada, United States',
       'United States, France, Denmark', 'United States, China, Colombia',
       'Spain, Thailand, United States', 'Mexico, Spain',
       'Ireland, Luxembourg, Belgium', 'China, United States',
       'Canada, Belgium', 'Canada, United Kingdom',
       'Lebanon, United Arab Emirates, France, Switzerland, Germany',
       'France, Belgium, Italy',
       'Lebanon, United States, United Arab Emirates', 'Lebanon, France',
       'France, Lebanon', 'France, Lebanon, United Kingdom',
       'France, Norway, Lebanon, Belgium',
       'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands',
       'United States, United Kingdom, India', 'Indonesia, Netherlands',
       'Turkey, South Korea', 'Serbia, United States', 'Namibia',
       'United Kingdom, Kenya', 'United Kingdom, France, Germany, Spain',
       'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany',
       'Thailand, United States',
       'United States, France, Canada, Belgium', 'United Kingdom, China',
       'Germany, China, United Kingdom',
       'Australia, New Zealand, United States',
       'Hong Kong, Iceland, United States', 'France, Australia, Germany',
       'United States, Belgium, Canada, France', 'South Africa, Angola',
       'United States, Philippines',
       'United States, United Kingdom, Canada, China',
       'United States, Canada, United Kingdom', 'Turkey, United States',
       'Peru, Germany, Norway', 'Mozambique', 'Brazil, France',
       'China, Spain, South Korea, United States', 'Spain, Germany',
       'Hong Kong, China', 'France, Belgium, Luxembourg, Cambodia,',
       'United Kingdom, Australia', 'Belarus',
       'Indonesia, United Kingdom',
       'Switzerland, France, Belgium, United States', 'Ghana',
       'Spain, France, Canada, United States', 'Chile, Italy',
       'United Kingdom, Nigeria', 'Chile', 'France, Egypt',
       'Egypt, France', 'France, Brazil, Spain, Belgium',
       'Egypt, Algeria', 'Canada, South Korea, United States',
       'Nigeria, United Kingdom', 'United States, France, Canada',
       'Poland, United States',
       'United Arab Emirates, Jordan, Lebanon, Saudi Arabia',
       'United States, Mexico, Spain, Malta',
       'Saudi Arabia, United Arab Emirates', 'Zimbabwe',
       'United Kingdom, Germany, United Arab Emirates, New Zealand',
       'Romania, United States', 'Canada, Nigeria',
       'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States',
       'United Kingdom, Spain', 'Finland, France',
       'United Kingdom, Germany, United States, France',
       'India, United Kingdom, China, Canada, Japan, South Korea, United States',
       'Italy, United Kingdom, France', 'United States, Mexico, Colombia',
       'Turkey, India', 'Italy, Turkey',
       'United Kingdom, United States, Japan',
       'France, Belgium, United States',
       'Puerto Rico, United States, Colombia', 'Uruguay, Argentina',
       'United States, United Kingdom, Japan', 'United States, Argentina',
       'United Kingdom, Italy', 'Ireland, United Kingdom',
       'United Kingdom, France, Belgium, Canada, United States',
       'Netherlands, Germany, Denmark, United Kingdom', 'Hungary',
       'Austria, Germany', 'Taiwan, China',
       'United Kingdom, United States, Ireland',
       'South Korea, United States', 'Brazil, United Kingdom',
       'Pakistan, United States', 'Romania, France, Switzerland, Germany',
       'Romania, United Kingdom', 'France, Malta, United States',
       'Cyprus',
       'United Kingdom, France, Belgium, Ireland, United States',
       'United States, Norway, Canada', 'Kenya, United States',
       'France, South Korea, Japan, United States', 'Taiwan, Malaysia',
       'Uruguay, Argentina, Germany, Spain',
       'United States, United Kingdom, France, Germany, Japan',
       'United States, France, Japan',
       'United Kingdom, France, United States',
       'Spain, France, United States',
       'Indonesia, South Korea, Singapore', 'United States, Spain',
       'Netherlands, Germany, Italy, Canada',
       'Spain, Germany, Denmark, United States', 'Norway, Sweden',
       'South Korea, Canada, United States, China',
       'Argentina, Uruguay, Serbia', 'France, Japan',
       'Mauritius, South Africa', 'United States, Poland',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'India, Germany', 'India, United Kingdom, Canada, United States',
       'Philippines, United States', 'Romania, Bulgaria, Hungary',
       'Uruguay, Guatemala', 'France, Senegal, Belgium',
       'United Kingdom, Canada', 'Mexico, United States, Spain, Colombia',
       'Canada, Norway', 'Singapore, United States',
       'Finland, Germany, Belgium', 'United Kingdom, France',
       'United States, Chile', 'United Kingdom, Japan, United States',
       'Spain, United Kingdom', 'Argentina, United States, Mexico',
       'United States, South Korea, Japan', 'Canada, Australia',
       'United Kingdom, Hungary, Australia', 'Italy, Belgium',
       'United States, United Kingdom, Germany', 'Switzerland',
       'Singapore, Malaysia',
       'France, Belgium, Luxembourg, Romania, Canada, United States',
       'South Africa, Nigeria', 'Spain, France',
       'United Kingdom, Hong Kong', 'Pakistan', 'Brazil, United States',
       'Denmark, Brazil, France, Portugal, Sweden', 'India, Turkey',
       'Malaysia, Singapore, Hong Kong', 'Philippines, Singapore',
       'Australia, Canada', 'Taiwan, China, France, United States',
       'Germany, Italy', 'Colombia, Peru, United Kingdom',
       'Thailand, China, United States', 'Argentina, United States',
       'Sweden, United States', 'Uruguay, Spain, Mexico',
       'France, Luxembourg, Canada', 'Denmark, Spain', 'Chile, Argentina',
       'United Kingdom, Belgium, Sweden', 'Canada, Brazil',
       'Italy, France', 'Canada, Germany',
       'Pakistan, United Arab Emirates', 'Ghana, United States',
       'Mexico, Finland', 'United Arab Emirates, United Kingdom, India',
       'Netherlands, Belgium', 'United States, Taiwan',
       'Austria, Iraq, United States', 'United Kingdom, Malawi',
       'Paraguay, Argentina', 'United Kingdom, Russia, United States',
       'India, Pakistan', 'Indonesia, Singapore', 'Spain, Belgium',
       'Iceland, Sweden, Belgium', 'Croatia', 'Uruguay, Argentina, Spain',
       'United Kingdom, Ireland, United States',
       'Canada, Germany, France, United States', 'United Kingdom, Japan',
       'Norway, Denmark, Netherlands, Sweden',
       'Hong Kong, China, United States', 'Ireland, Canada',
       'Italy, Switzerland, France, Germany', 'Mexico, Netherlands',
       'United States, Sweden', 'Germany, France, Russia',
       'France, Iran, United States', 'United Kingdom, India',
       'Russia, Poland, Serbia', 'Spain, Portugal', 'Peru',
       'Mexico, Argentina',
       'United Kingdom, Canada, United States, Cayman Islands',
       'Indonesia, United States',
       'United States, Israel, United Kingdom, Canada',
       'Norway, Iceland, United States', 'Czech Republic, United States',
       'United Kingdom, India, United States',
       'United Kingdom, West Germany', 'India, Australia',
       'United States,', 'Belgium, United Kingdom, United States',
       'India, Germany, Austria',
       'United States, Brazil, South Korea, Mexico, Japan, Germany',
       'Spain, Mexico', 'China, Japan', 'Argentina, France',
       'China, United States, United Kingdom',
       'France, Luxembourg, United States',
       'China, United States, Australia', 'Colombia, Mexico',
       'United States, Canada, Ireland', 'Chile, Peru',
       'Argentina, Italy', 'Canada, Japan, United States',
       'United Kingdom, Canada, United States, Germany',
       'Italy, Switzerland, Albania, Poland',
       'United States, Japan, Canada', 'Cambodia',
       'Italy, United States, Argentina',
       'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait',
       'United States, Canada, Indonesia, United Kingdom, China, Singapore',
       'Spain, Colombia',
       'United Kingdom, South Africa, Australia, United States',
       'Bulgaria', 'Argentina, Brazil, France, Poland, Germany, Denmark',
       'United Kingdom, Spain, United States, Germany',
       'Philippines, Qatar', 'Netherlands, Belgium, Germany, Jordan',
       'United Arab Emirates, United States', 'Norway, Germany, Sweden',
       'South Korea, China', 'Georgia', 'Soviet Union, India',
       'Australia, United Arab Emirates', 'Canada, Germany, South Africa',
       'South Korea, China, United States', 'India, Soviet Union',
       'India, Mexico', 'Georgia, Germany, France',
       'United Arab Emirates, Romania', 'India, Malaysia',
       'Germany, Jordan, Netherlands', 'Turkey, France, Germany, Poland',
       'Greece, United States', 'France, United Kingdom, United States',
       'Norway, Germany', 'France, Morocco', 'Cambodia, United States',
       'United States, Denmark', 'United States, Colombia, Mexico',
       'United Kingdom, Italy, Israel, Peru, United States',
       'Argentina, Uruguay, Spain, France',
       'United Kingdom, France, United States, Belgium',
       'France, Canada, China, Cambodia',
       'United Kingdom, France, Belgium, United States', 'Chile, France',
       'Netherlands, United States', 'France, United Kingdom, India',
       'Czech Republic, Slovakia', 'Singapore, France',
       'Spain, Switzerland', 'United States, Australia, China',
       'South Africa, United States, Germany',
       'United States, United Kingdom, Australia',
       'Spain, Italy, Argentina', 'Chile, Spain, Argentina, Germany',
       'West Germany', 'Austria, Czech Republic', 'Lebanon, Qatar',
       'United Kingdom, Jordan, Qatar, Iran',
       'France, South Korea, Japan', 'Israel, Germany, France',
       'Canada, Japan, Netherlands', 'United States, Hungary',
       'France, Germany', 'France, Qatar',
       'United Kingdom, Germany, Canada', 'Ireland, South Africa',
       'Chile, United States, France', 'Belgium, France, Netherlands',
       'United Kingdom, Ukraine, United States',
       'Germany, Australia, France, China', 'Norway, United States',
       'United States, Bermuda, Ecuador',
       'United States, Hungary, Ireland, Canada',
       'United Kingdom, Egypt, United States',
       'United States, France, United Kingdom', 'Spain, Mexico, France',
       'United States, South Africa', 'Hong Kong, China, Singapore',
       'South Africa, China, United States', 'Denmark, France, Poland',
       'New Zealand, United Kingdom',
       'Netherlands, Denmark, South Africa', 'Iran, France',
       'United Kingdom, United States, France, Germany',
       'Australia, France', 'Ireland, United Kingdom, United States',
       'United Kingdom, France, Germany', 'Canada, Luxembourg',
       'Brazil, Netherlands, United States, Colombia, Austria, Germany',
       'France, Canada, Belgium', 'Canada, France',
       'Bulgaria, United States, Spain, Canada', 'Sweden, Netherlands',
       'France, United States, Mexico',
       'Australia, United Kingdom, United Arab Emirates, Canada',
       'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
       'India, Iran', 'France, Belgium, Spain',
       'Denmark, Sweden, Israel, United States', 'United States, Iceland',
       'United Kingdom, Russia',
       'United States, Israel, Italy, South Africa',
       'Netherlands, Denmark, France, Germany', 'South Korea, Japan',
       'United Kingdom, Pakistan', 'France, New Zealand',
       'United Kingdom, Czech Republic, United States, Germany, Bahamas',
       'China, Germany, India, United States', 'Germany, Sri Lanka',
       'United States, India, Bangladesh',
       'United States, Canada, France', 'Brazil, France, Germany',
       'Germany, United States, Hong Kong, Singapore',
       'France, Germany, Switzerland',
       'Germany, France, Luxembourg, United Kingdom, United States',
       'United Kingdom, Canada, Italy', 'Czech Republic, France',
       'Taiwan, Hong Kong, United States, China', 'Germany, Australia',
       'United Kingdom, Poland, United States', 'Denmark, Zimbabwe',
       'United Kingdom, South Africa',
       'Finland, Sweden, Norway, Latvia, Germany',
       'South Africa, United States, New Zealand, Canada',
       'United States, Italy, United Kingdom, Liechtenstein',
       'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
       'United States, Australia, Mexico',
       'United Kingdom, Czech Republic, Germany, United States',
       'France, China, Japan, United States',
       'United States, South Korea, China', 'Germany, Belgium',
       'Pakistan, Norway, United States',
       'United States, Canada, Belgium, United Kingdom', 'Venezuela',
       'Canada, France, Italy, Morocco, United States',
       'Canada, Spain, France', 'United States, Indonesia',
       'Spain, France, Italy',
       'United Arab Emirates, United States, United Kingdom',
       'United Kingdom, Israel, Russia', 'Spain, Cuba',
       'United States, Brazil', 'United States, France, Mexico',
       'United States, Nicaragua',
       'United Kingdom, United States, Spain, Germany, Greece, Canada',
       'Italy, Canada, France',
       'United Kingdom, Denmark, Canada, Croatia', 'Italy, Germany',

## Ordinal Encoding

In [54]:
ordinal =OrdinalEncoder()

#encoding kan
df_ordinal['country'] = ordinal.fit_transform(df_ordinal[['country']]).astype('int64')

#lihat
df_ordinal.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,603,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",426,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",-9223372036854775808,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,-9223372036854775808,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",251,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [55]:
df_ordinal['country'].unique()

array([                 603,                  426, -9223372036854775808,
                        251,                  663,                  506,
                        218,                  342,                  492,
                         15,                  673,                  156,
                        106,                  433,                  368,
                        319,                  469,                  162,
                         38,                  589,                  718,
                        206,                  435,                  444,
                        705,                  510,                  511,
                        621,                  228,                  431,
                        690,                  683,                  684,
                         30,                   14,                  720,
                        108,                  407,                   58,
                        239,                  635,                  316,
                        656,                  520,                    1,
                        279,                  262,                  364,
                        302,                  304,                    2,
                        323,                  121,                  686,
                         43,                  478,                  301,
                         86,                   45,                    9,
                        483,                  699,                   53,
                        468,                  632,                  643,
                        455,                    0,                  394,
                        212,                  185,                  363,
                        412,                  488,                  272,
                        153,                  714,                  240,
                        327,                  178,                  194,
                        165,                  295,                  150,
                        338,                  296,                   23,
                        545,                   42,                  439,
                         20,                  745,                  513,
                        512,                  187,                  549,
                        596,                  658,                  649,
                        727,                  695,                  470,
                        105,                  328,                  402,
                        158,                  333,                  388,
                        249,                  134,                  671,
                        392,                  119,                  334,
                         88,                  499,                  347,
                        354,                  230,                  618,
                        539,                  371,                  482,
                        639,                  340,                   79,
                         31,                  344,                  219,
                        350,                  541,                  606,
                        724,                  703,                  732,
                         26,                   77,                  209,
                        203,                  267,                   93,
                        551,                  132,                  116,
                        314,                  115,                  616,
                        636,                   57,                  331,
                        322,                  740,                  155,
                        540,                  287,                  581,
                        289,                  410,                  594,
                        507,                  676,                  324,
                        445,                  270,                   39,
                          4,                  716,                   99,
                        637,                   94,                  736,
                        337,                  620,                   36,
                        447,                  590,                   89,
                        400,                  399,                  271,
                        558,                  585,                  248,
                        707,                   87,                  254,
                        173,                   68,                  370,
                         85,                  548,                  148,
                        416,                  163,                  530,
                        389,                  284,                  419,
                        326,                  652,                  682,
                        460,                  679,                  578,
                        246,                  689,                  633,
                         92,                  329,                  321,
                        452,                  143,                  648,
                        634,                  466,                  349,
                        285,                  117,                   60,
                         83,                  335,                  167,
                        336,                  330,                  188,
                        189,                  197,                  471,
                        728,                  273,                  496,
                        418,                  353,                  566,
                        538,                  544,                  491,
                        645,                  523,                  217,
                         24,                  244,                  164,
                        611,                  427,                  701,
                        721,                  629,                  497,
                        386,                  352,                   46,
                        114,                  458,                  241,
                        168,                  508,                   37,
                        276,                  477,                  235,
                        453,                  101,                  571,
                         96,                  180,                  154,
                        172,                  151,                   80,
                        369,                  644,                  396,
                        501,                  692,                  415,
                        747,                  550,                  406,
                         76,                  413,                  583,
                        157,                  552,                  269,
                        315,                  691,                  495,
                        313,                  599,                  171,
                        401,                  737,                  730,
                        605,                  561,                  288,
                        533,                  360,                  247,
                         33,                  484,                  598,
                        442,                   50,                  383,
                        404,                  405,                  192,
                        128,                  534,                  700,
                        325,                  201,                  487,
                        738,                  725,                  650,
                        542,                  456,                  275,
                        710,                  361,                  459,
                        377,                  436,                   12,
                        186,                  341,                  702,
                        597,                  255,                  268,
                        393,                  403,                  741,
                        199,                  516,                  351,
                         78,                  423,                  159,
                        531,                  630,                  564,
                        467,                   11,                  709,
                         59,                  554,                  303,
                        726,                  475,                  422,
                        169,                  430,                  451,
                        553,                  380,                   51,
                        135,                  266,                  339,
                        391,                   17,                  485,
                        223,                  124,                  490,
                         10,                  474,                  742,
                        190,                  144,                   97,
                        514,                   61,                  306,
                         65,                  382,                  236,
                        345,                  503,                  355,
                        715,                   34,                  568,
                        384,                  577,                  263,
                        274,                  446,                  250,
                        126,                  739,                  559,
                         66,                  563,                  372,
                        243,                  280,                  312,
                        348,                  712,                  221,
                        184,                  555,                  408,
                        464,                  385,                  343,
                        521,                  277,                  681,
                        376,                  133,                  557,
                        602,                  252,                  604,
                         44,                  256,                  617,
                        462,                  111,                    6,
                        120,                  191,                  118,
                        122,                  627,                  102,
                          8,                   73,                  522,
                        311,                  687,                   55,
                        317,                  414,                  626,
                        449,                  580,                   52,
                          3,                  586,                  390,
                        356,                  504,                  375,
                        437,                  210,                  443,
                         25,                   67,                  438,
                        264,                  261,                  211,
                        502,                  260,                  224,
                        494,                  237,                  205,
                        374,                  193,                   56,
                        641,                  638,                  562,
                         13,                  543,                  175,
                        535,                  100,                  362,
                        204,                  130,                  420,
                        465,                  607,                  432,
                        719,                  461,                  103,
                        746,                   32,                  332,
                        565,                  200,                  298,
                         72,                  668,                  181,
                        198,                  546,                  286,
                        104,                   40,                  588,
                        214,                  379,                  612,
                        669,                  529,                  654,
                        463,                  706,                  242,
                        428,                  138,                  365,
                        359,                  278,                  595,
                         18,                  292,                  537,
                         74,                   49,                  174,
                         62,                   54,                  472,
                        208,                   28,                   16,
                        258,                  170,                  145,
                        670,                  576,                  680,
                        358,                  441,                  573,
                        196,                  527,                  107,
                        225,                  672,                  624,
                         47,                  231,                  183,
                        220,                  518,                  129,
                        486,                  213,                  575,
                        149,                  579,                  160,
                        434,                  685,                  137,
                        608,                  526,                  179,
                        708,                  215,                  381,
                        622,                  743,                   63,
                         82,                  677,                  454,
                        505,                  560,                  450,
                        614,                  651,                  698,
                        601,                  305,                  528,
                        308,                  655,                  723,
                        729,                  647,                  411,
                        625,                  293,                  717,
                        678,                  291,                  395,
                        424,                   84,                  711,
                        259,                  113,                  532,
                         71,                  593,                  704,
                        227,                  429,                   95,
                        294,                  229,                  547,
                        646,                  357,                  166,
                        631,                  572,                  373,
                        110,                  123,                  582,
                        136,                  665,                  440,
                        609,                  226,                    5,
                        493,                  397,                  233,
                         81,                  619,                  664,
                        378,                  574,                  300,
                        476,                  309,                  613,
                         98,                  674,                  140,
                        141,                  202,                   48,
                        139,                   22,                  112,
                         90,                  587,                  744,
                        125,                  182,                  481,
                        398,                  696,                  694,
                        265,                   69,                  693,
                        421,                   75,                  591,
                        222,                  734,                  253,
                        282,                  657,                   19,
                         21,                  722,                  473,
                        245,                  733,                  238,
                        498,                  310,                  661,
                        307,                   64,                  480,
                        489,                  109,                  570,
                        131,                   27,                  318,
                         29,                  207,                  536,
                        147,                  667,                  688,
                          7,                  660,                  662,
                        697,                  161,                  457,
                        177,                  623,                  281,
                        640,                  297,                  346,
                        299,                   35,                  567,
                        666,                  525,                  713,
                        600,                  731,                  448,
                        675,                  517,                  257,
                         41,                  176,                  290,
                        142,                  367,                  610,
                        659,                  425,                  628,
                        584,                  417,                  146,
                        216,                  283,                  366,
                        509,                  232,                  735,
                        519,                  592,                  524,
                        515,                  569,                   91,
                        479,                  556,                  615,
                        387,                  234,                   70,
                        642,                  195,                  152,
                        409,                  127,                  320,
                        653,                  500], dtype=int64)

## One Hot Encoding

In [60]:
temp_df = pd.get_dummies(df_one_hot[['country']])

temp_df = pd.DataFrame(temp_df)

df_one_hot.drop('country', axis=1, inplace=True)

df_one_hot = df_one_hot.join(temp_df)
df_one_hot.head(5)

,show_id,type,title,director,cast,date_added,release_year,rating,duration,listed_in,...,"country_Uruguay, Argentina, Germany, Spain","country_Uruguay, Argentina, Spain","country_Uruguay, Germany","country_Uruguay, Guatemala","country_Uruguay, Spain, Mexico",country_Venezuela,"country_Venezuela, Colombia",country_Vietnam,country_West Germany,country_Zimbabwe
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,"September 25, 2021",2020,PG-13,90 min,Documentaries,...,0,0,0,0,0,0,0,0,0,0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...","September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",...,0,0,0,0,0,0,0,0,0,0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...","September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",...,0,0,0,0,0,0,0,0,0,0
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV",...,0,0,0,0,0,0,0,0,0,0
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...","September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",...,0,0,0,0,0,0,0,0,0,0